<div class="container">
  <%= render @post %>
  <div>
    <%= link_to "Back to posts", posts_path %>
    <%= link_to "Edit this post", edit_post_path(@post) %> |
    <% if current_user == @post.user %>
      <%= button_to "Destroy this post", @post, method: :delete %>
    <% end %>
  </div>
</div>

<div class="container">
  <h2>Comments</h2>
  <%= render "comments/form", post: @post %>
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', post: @post, comment: comment %>
  <% end %>
</div>